.app {
	width: 1440px;
	margin: 40px auto;
	position: relative;
}

.panel {
	margin-bottom: 12px;
}

/* зона рядка */
.line {
	display: flex;
	flex-wrap: wrap;
	gap: 2px;
	padding: 20px;
	border: 1px solid #ccc;
	min-height: 40px;

	user-select: none;
	cursor: default;

}

/* окремий символ */
.line span {
	display: inline-flex;
	align-items: baseline;
	justify-content: center;

	min-width: 18px;
	height: 24px;
	padding: 2px 4px;

	border-radius: 4px;
	border: 1px solid black;
	font-family: monospace;
	font-size: 16px;

	cursor: pointer;
}

span.is-selected {
	background-color: #2563eb;
	color: #fff;
}

span.is-dragging {
	opacity: 0.4;
}

/* ghost-група */
.drag-ghost {
	position: fixed;
	pointer-events: none;
	z-index: 9999;

	display: flex;
	align-items: baseline;
	justify-content: center;
	gap: 2px;
	min-width: 14px;
	height: 20px;
	padding: 2px 4px;

	background: rgba(37, 99, 235, 0.15);
	border: 1px dashed #2563eb;
	border-radius: 6px;
}

.floating-span {
	display: inline-flex;
	align-items: baseline;
	justify-content: center;

	min-width: 18px;
	height: 24px;
	padding: 2px 4px;

	border-radius: 4px;
	border: 1px solid black;
	font-family: monospace;
	font-size: 16px;

	cursor: pointer;
	position: absolute;
}

.canvas {
	margin-top: 16px;
	min-height: 150px;
	border: 1px dashed #999;
	position: relative;
}

.marquee {
	position: fixed;
	pointer-events: none;
	top: 0;
	left: 0;
	width: 0;
	height: 0;
	z-index: 10;
}

.marquee.is-drawing {
	background-color: rgba(0, 0, 0, 0.1);
	border: 1px dashed rgba(0, 0, 0, 0.8);
}